<div class="container my-5">
  <div class="row">
    <div class="col-md-6">
      <h2>Escríbenos</h2>
      <form>
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" class="form-control" id="nombre" required />
        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" class="form-control" id="apellido" required />
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" required />
        </div>
        <div class="mb-3">
          <label for="asunto" class="form-label">Asunto</label>
          <input type="text" class="form-control" id="asunto" required />
        </div>
        <div class="mb-3">
          <label for="mensaje" class="form-label">Mensaje</label>
          <textarea
            class="form-control"
            id="mensaje"
            rows="5"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Enviar Queja</button>
      </form>
    </div>
    <div class="col-md-6">
      <h2>Oficinas</h2>
      <ul class="list-unstyled">
        <li><strong>Teléfono:</strong> (+52) 456-7890</li>
        <li><strong>Email:</strong> info&#64;tiendaelectronica.com</li>
        <li><strong>Dirección:</strong> Calle 123, León, México</li>
        <li>
          <strong>Horario de Atención:</strong> Lunes a Viernes, 9:00 AM - 6:00
          PM
        </li>
      </ul>
    </div>
  </div>
</div>
